# Ignore system files
.DS_Store

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore logs
logs/

# Ignore models if they are large
models/

# Environment files
.env